USE [InfoSecurity]
GO
/****** Object:  Table [dbo].[Activities]    Script Date: 13.02.2024 22:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NULL,
	[ActivityName] [nvarchar](max) NULL,
	[Day] [int] NULL,
	[StartTime] [time](4) NULL,
	[ModeratorId] [int] NULL,
	[JuryFirst] [int] NULL,
	[JurySecond] [int] NULL,
	[JuryThird] [int] NULL,
	[JuryFourth] [int] NULL,
	[JuryFifth] [int] NULL,
	[Winner] [int] NULL,
 CONSTRAINT [PK_Activities_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 13.02.2024 22:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CountryId] [int] NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 13.02.2024 22:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[EngName] [nvarchar](max) NULL,
	[Abbreviation] [nvarchar](2) NULL,
	[Code] [int] NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Directions]    Script Date: 13.02.2024 22:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Directions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 13.02.2024 22:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](max) NULL,
	[Date] [date] NULL,
	[Days] [int] NULL,
	[CityId] [int] NULL,
	[DirectionId] [int] NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 13.02.2024 22:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1) NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Juries]    Script Date: 13.02.2024 22:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Juries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fio] [nvarchar](max) NULL,
	[GenderId] [int] NULL,
	[Email] [nvarchar](50) NULL,
	[Birthday] [date] NULL,
	[CountryId] [int] NULL,
	[Phone] [nvarchar](11) NULL,
	[DirectionId] [int] NULL,
	[EventId] [int] NULL,
	[Password] [nvarchar](50) NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Juries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 13.02.2024 22:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fio] [nvarchar](max) NULL,
	[Email] [nvarchar](50) NULL,
	[Birthday] [date] NULL,
	[CountryId] [int] NULL,
	[Phone] [nvarchar](11) NULL,
	[Password] [nvarchar](50) NULL,
	[Photo] [nvarchar](max) NULL,
	[GenderId] [int] NULL,
 CONSTRAINT [PK_Members_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Moderators]    Script Date: 13.02.2024 22:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moderators](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fio] [nvarchar](max) NULL,
	[GenderId] [int] NULL,
	[Email] [nvarchar](50) NULL,
	[Birthday] [date] NULL,
	[CountryId] [int] NULL,
	[Phone] [nvarchar](11) NULL,
	[DirectionId] [int] NULL,
	[EventId] [int] NULL,
	[Password] [nvarchar](50) NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Moderators_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizers]    Script Date: 13.02.2024 22:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fio] [nvarchar](max) NULL,
	[Email] [nvarchar](50) NULL,
	[Birthday] [date] NULL,
	[CountryId] [int] NULL,
	[Phone] [nvarchar](11) NULL,
	[Password] [nvarchar](50) NULL,
	[Photo] [nvarchar](max) NULL,
	[GenderId] [int] NULL,
 CONSTRAINT [PK_Organizers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activities] ON 

INSERT [dbo].[Activities] ([Id], [EventId], [ActivityName], [Day], [StartTime], [ModeratorId], [JuryFirst], [JurySecond], [JuryThird], [JuryFourth], [JuryFifth], [Winner]) VALUES (1, 1, N'Сильный бизнес-тренер', 1, CAST(N'09:00:00' AS Time), 1, 8, 1, 4, 2, 8, 1)
INSERT [dbo].[Activities] ([Id], [EventId], [ActivityName], [Day], [StartTime], [ModeratorId], [JuryFirst], [JurySecond], [JuryThird], [JuryFourth], [JuryFifth], [Winner]) VALUES (2, 1, N'Анализ и моделироавние бизнес-процессов', 2, CAST(N'10:45:00' AS Time), 2, 9, 2, 5, 3, 9, 1)
INSERT [dbo].[Activities] ([Id], [EventId], [ActivityName], [Day], [StartTime], [ModeratorId], [JuryFirst], [JurySecond], [JuryThird], [JuryFourth], [JuryFifth], [Winner]) VALUES (3, 1, N'Сила лидера', 2, CAST(N'12:30:00' AS Time), 3, 10, 3, 6, 4, 10, 1)
SET IDENTITY_INSERT [dbo].[Activities] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [Name], [CountryId]) VALUES (1, N'Абаза', NULL)
INSERT [dbo].[Cities] ([Id], [Name], [CountryId]) VALUES (2, N'Абакан', NULL)
INSERT [dbo].[Cities] ([Id], [Name], [CountryId]) VALUES (3, N'Абдулино', NULL)
GO
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([Id], [Name], [EngName], [Abbreviation], [Code]) VALUES (1, N'Абхазия', N'Abkhazia', N'AB', 895)
INSERT [dbo].[Country] ([Id], [Name], [EngName], [Abbreviation], [Code]) VALUES (2, N'Австралия', N'Australia', N'AU', 36)
INSERT [dbo].[Country] ([Id], [Name], [EngName], [Abbreviation], [Code]) VALUES (3, N'Австрия', N'Austria', N'AT', 40)
GO
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[Directions] ON 

INSERT [dbo].[Directions] ([Id], [Name]) VALUES (1, N'ИТ')
INSERT [dbo].[Directions] ([Id], [Name]) VALUES (2, N'Биг Дата')
INSERT [dbo].[Directions] ([Id], [Name]) VALUES (3, N'Дизайн')
SET IDENTITY_INSERT [dbo].[Directions] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([Id], [EventName], [Date], [Days], [CityId], [DirectionId]) VALUES (1, N'Анализ предметных областей и проектирование сценариев использования ', CAST(N'2022-03-23' AS Date), 2, 1, NULL)
INSERT [dbo].[Events] ([Id], [EventName], [Date], [Days], [CityId], [DirectionId]) VALUES (2, N'Анализ предметных областей и проектирование сценариев использования. Часть 1 ', CAST(N'2022-03-30' AS Date), 2, 3, NULL)
INSERT [dbo].[Events] ([Id], [EventName], [Date], [Days], [CityId], [DirectionId]) VALUES (3, N'Андрей Ершов — CRDT. Бесконфликтная синхронизация данных ', CAST(N'2022-02-28' AS Date), 3, 4, NULL)
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([Id], [Name]) VALUES (1, N'ж')
INSERT [dbo].[Gender] ([Id], [Name]) VALUES (2, N'м')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[Juries] ON 

INSERT [dbo].[Juries] ([Id], [Fio], [GenderId], [Email], [Birthday], [CountryId], [Phone], [DirectionId], [EventId], [Password], [Photo]) VALUES (1, N'Суворов Леонид Алексеевич', 2, N'fboehm@gmail.com', CAST(N'1988-02-26' AS Date), 64, N'78219957897', 1, 1, N'5BIgu5', N'foto11.jpg')
INSERT [dbo].[Juries] ([Id], [Fio], [GenderId], [Email], [Birthday], [CountryId], [Phone], [DirectionId], [EventId], [Password], [Photo]) VALUES (2, N'Петухов Вилен Ильяович', 2, N'abigayle.daugherty@bartoletti.com', CAST(N'1983-01-21' AS Date), 45, N'74216628742', 1, 1, N'br@ILZ', N'foto12.jpg')
INSERT [dbo].[Juries] ([Id], [Fio], [GenderId], [Email], [Birthday], [CountryId], [Phone], [DirectionId], [EventId], [Password], [Photo]) VALUES (3, N'Миронов Арсений Романович', 2, N'zking@effertz.org', CAST(N'1981-03-22' AS Date), 21, N'78737790849', 1, 1, N'7qb*6x', N'foto13.jpg')
SET IDENTITY_INSERT [dbo].[Juries] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([Id], [Fio], [Email], [Birthday], [CountryId], [Phone], [Password], [Photo], [GenderId]) VALUES (1, N'Бобров Терентий Созонович', N'bowmanbs@mac.com', CAST(N'1976-07-02' AS Date), 45, N'79535958817', N't1Os4A', N'foto40.jpg', 2)
INSERT [dbo].[Members] ([Id], [Fio], [Email], [Birthday], [CountryId], [Phone], [Password], [Photo], [GenderId]) VALUES (2, N'Орехова Николь Дмитриевна', N'catalog@aol.com', CAST(N'1977-06-28' AS Date), 86, N'79273532017', N'wOMJfO$*00', N'foto41.jpg', 1)
INSERT [dbo].[Members] ([Id], [Fio], [Email], [Birthday], [CountryId], [Phone], [Password], [Photo], [GenderId]) VALUES (3, N'Бурова Анэля Пётровна', N'privcan@hotmail.com', CAST(N'1977-11-22' AS Date), 45, N'79642825534', N'kymPeI&&%78', N'foto42.jpg', 1)
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[Moderators] ON 

INSERT [dbo].[Moderators] ([Id], [Fio], [GenderId], [Email], [Birthday], [CountryId], [Phone], [DirectionId], [EventId], [Password], [Photo]) VALUES (1, N'Тимофеева Вероника Никитична', 1, N'2mrndva1w03i@yahoo.com', CAST(N'1972-09-10' AS Date), 59, N'71160601937', 1, 1, N'fA5j8aHU33', N'foto9.jpg')
INSERT [dbo].[Moderators] ([Id], [Fio], [GenderId], [Email], [Birthday], [CountryId], [Phone], [DirectionId], [EventId], [Password], [Photo]) VALUES (2, N'Попова Маргарита Александровна', 1, N'a139dszl0thv@gmail.com', CAST(N'1980-08-05' AS Date), 44, N'70114958210', 1, 1, N's62Zy42hDE', N'foto10.jpg')
INSERT [dbo].[Moderators] ([Id], [Fio], [GenderId], [Email], [Birthday], [CountryId], [Phone], [DirectionId], [EventId], [Password], [Photo]) VALUES (3, N'Абрамов Александр Алексеевич', 2, N'afe028rbd3jl@outlook.com', CAST(N'1977-02-18' AS Date), 8, N'78153600417', 1, 1, N'Eh23iV8Ls3', N'foto8.jpg')
SET IDENTITY_INSERT [dbo].[Moderators] OFF
GO
SET IDENTITY_INSERT [dbo].[Organizers] ON 

INSERT [dbo].[Organizers] ([Id], [Fio], [Email], [Birthday], [CountryId], [Phone], [Password], [Photo], [GenderId]) VALUES (1, N'Смирнова Варвара Васильевна', N'ja1m6ekwls0x@mail.com', CAST(N'1996-11-13' AS Date), 74, N'73369449615', N'Gm87XHb56b', N'foto1.jpg', 1)
INSERT [dbo].[Organizers] ([Id], [Fio], [Email], [Birthday], [CountryId], [Phone], [Password], [Photo], [GenderId]) VALUES (2, N'Киселев Марк Вячеславович', N'jn8s3ao96et5@yahoo.com', CAST(N'1993-03-19' AS Date), 5, N'70362243903', N'XzKSt947y2', N'foto2.jpg', 2)
INSERT [dbo].[Organizers] ([Id], [Fio], [Email], [Birthday], [CountryId], [Phone], [Password], [Photo], [GenderId]) VALUES (3, N'Беликов Роман Тимофеевич', N'874gri1p0cte@mail.com', CAST(N'1963-02-09' AS Date), 97, N'73409270193', N'7XyP3i72dU', N'foto3.jpg', 2)
SET IDENTITY_INSERT [dbo].[Organizers] OFF
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_Activities_Events1] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([Id])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_Activities_Events1]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_Activities_Juries] FOREIGN KEY([JuryFirst])
REFERENCES [dbo].[Juries] ([Id])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_Activities_Juries]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_Activities_Juries1] FOREIGN KEY([JurySecond])
REFERENCES [dbo].[Juries] ([Id])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_Activities_Juries1]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_Activities_Juries2] FOREIGN KEY([JuryThird])
REFERENCES [dbo].[Juries] ([Id])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_Activities_Juries2]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_Activities_Juries3] FOREIGN KEY([JuryFourth])
REFERENCES [dbo].[Juries] ([Id])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_Activities_Juries3]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_Activities_Juries4] FOREIGN KEY([JuryFourth])
REFERENCES [dbo].[Juries] ([Id])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_Activities_Juries4]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_Activities_Members1] FOREIGN KEY([Winner])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_Activities_Members1]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_Activities_Moderators1] FOREIGN KEY([ModeratorId])
REFERENCES [dbo].[Moderators] ([Id])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_Activities_Moderators1]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Country]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Cities] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Cities]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Directions] FOREIGN KEY([DirectionId])
REFERENCES [dbo].[Directions] ([Id])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Directions]
GO
ALTER TABLE [dbo].[Juries]  WITH CHECK ADD  CONSTRAINT [FK_Juries_Country1] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[Juries] CHECK CONSTRAINT [FK_Juries_Country1]
GO
ALTER TABLE [dbo].[Juries]  WITH CHECK ADD  CONSTRAINT [FK_Juries_Directions1] FOREIGN KEY([DirectionId])
REFERENCES [dbo].[Directions] ([Id])
GO
ALTER TABLE [dbo].[Juries] CHECK CONSTRAINT [FK_Juries_Directions1]
GO
ALTER TABLE [dbo].[Juries]  WITH CHECK ADD  CONSTRAINT [FK_Juries_Events1] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([Id])
GO
ALTER TABLE [dbo].[Juries] CHECK CONSTRAINT [FK_Juries_Events1]
GO
ALTER TABLE [dbo].[Juries]  WITH CHECK ADD  CONSTRAINT [FK_Juries_Gender1] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[Juries] CHECK CONSTRAINT [FK_Juries_Gender1]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_Country]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_Gender]
GO
ALTER TABLE [dbo].[Moderators]  WITH CHECK ADD  CONSTRAINT [FK_Moderators_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[Moderators] CHECK CONSTRAINT [FK_Moderators_Country]
GO
ALTER TABLE [dbo].[Moderators]  WITH CHECK ADD  CONSTRAINT [FK_Moderators_Directions] FOREIGN KEY([DirectionId])
REFERENCES [dbo].[Directions] ([Id])
GO
ALTER TABLE [dbo].[Moderators] CHECK CONSTRAINT [FK_Moderators_Directions]
GO
ALTER TABLE [dbo].[Moderators]  WITH CHECK ADD  CONSTRAINT [FK_Moderators_Events] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([Id])
GO
ALTER TABLE [dbo].[Moderators] CHECK CONSTRAINT [FK_Moderators_Events]
GO
ALTER TABLE [dbo].[Moderators]  WITH CHECK ADD  CONSTRAINT [FK_Moderators_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[Moderators] CHECK CONSTRAINT [FK_Moderators_Gender]
GO
ALTER TABLE [dbo].[Organizers]  WITH CHECK ADD  CONSTRAINT [FK_Organizers_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[Organizers] CHECK CONSTRAINT [FK_Organizers_Country]
GO
ALTER TABLE [dbo].[Organizers]  WITH CHECK ADD  CONSTRAINT [FK_Organizers_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[Organizers] CHECK CONSTRAINT [FK_Organizers_Gender]
GO
